:root{
  --header-color: #10454F;
  --header-table: #506266;
  --gris-color: #819397;
  --color-ok: #BDE038;
  --color-error: #EB5757;
  --background-buscador: #F1F1F1;
  --placeholder-color: #B6B6B6;
  --table-titles-color: #FFF;
}

html{
  font-family: 'Roboto', sans-serif;
}

*, 
*::after, 
*::before{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}









